/* 
padding: top, right, bottom, and left
*/

html {
    font-size: 75%;
    width: 100%;
    height: 100%;
}

html.mac.f {
    font-size: 80%;
}

body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #000000;
    font-size: 15px;
    font-size: 1.25rem;
    line-height: 22px;
    background-color: #ffffff;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    /*list-style-type: none;*/
    margin-left: 15px;
}

li2 {
    list-style-type: none;
}

a, *:focus {
    outline: none;
    /*for Firefox */
}


/*#424242;*/

a, a:link {
    text-decoration: none;
    color: #455A64;
    -webkit-transition: all 0.3s 0s;
    -webkit-transition: all 0.3s 0s ease-out;
    transition: all 0.3s 0s ease-out;
}

a:hover {
    color: #EF5350;
    text-decoration: none;
    outline: none;
}

a:active {
    color: #EF5350;
    text-decoration: none;
    outline: none;
}

h1 {
    margin: 0.67em 0;
    font-size: 2rem;
    line-height: 25px;
}



/*----- Head Start ----------*/

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    height: 38px;
    padding: 5px;
    padding-right: 0px;
}

.header-icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px 8px 15px;
    min-width: 60px;
}

.header-icon-button-link {
    display: flex;
    justify-content: flex-end;
    padding: 8px 0px 8px 30px;
    max-width: 60px;
}

.channel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-start;
    height: 80px;
    background: #00838F;
    padding-bottom: 8px;
}

.channel-hidden {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    height: 40px;
    background: #00838F;
    padding-bottom: 8px;
}

.channel-button {
    color: #E8E8E8;
    font-weight: bold;
    text-align: center;
}

.nav-left-header {
    height: 89px;
    background: #00838F;
}


/*----- Head :end ----------*/

.body-main {
    background: #E8E8E8;
}

.root {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
}

.root-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1366px;
    min-height: 736px;
    padding-bottom: 12px;
}

.root-text-field {
    max-width: 200px;
    margin-right: 30px;
}

.root-text-toggle {
    max-height: 40px;
    max-width: 120px;
    margin-left: 30px;
    margin-right: 50px;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-end;
}


/*----- List Start ----------*/

.root-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    max-width: 1024px;
    min-height: 600px;
    padding-bottom: 12px;
}

.root-list-default {
    width: 1024px;
    min-height: 736px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.root-list-default-loading {
    width: 50%;
    max-width: 350px;
    margin-top: 30%;
}

.root-list-paginator {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
    max-width: 1024px;
    min-width: 320px;
    min-height: 70px;
    margin-top: 30px;
}

.root-list-filter {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.root-list-filter-button {
    position: fixed;
    top: 110px;
    z-index: 100;
}

.root-list-button {
    color: #00838F;
    border-radius: 5px;
    border: 1px solid #00838F;
    font-size: 15px;
}

.root-list-button hide {
    color: #757575;
}


/*----- List End----------*/


/*----- Item Start ----------*/

.itemC {
    min-width: 258px;
    max-width: 318px;
    min-height: 418px;
    overflow-y: auto;
    padding: 6px;
}

.itemBox {
    /*background: #E0E0E0*/
    box-shadow: 5px 5px 15px #EF5350;
    padding-bottom: 12px;
}

.itemBox:hover {
    /*color: #FF9800;
    background-color: #EF5350;*/
    border: 1px solid #EF5350;
    box-shadow: 5px 5px 15px #EF5350;
}

.itemBox-Img {
    position: relative;
}

.itemBox-Img-cover {
    width: 100%;
    height: 200px;
    cursor: pointer;
    flex: 1;
    justify-content: 'center';
    align-items: 'center';
}

.itemBox-Img-author {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 180px;
    cursor: pointer;
    left: 10px;
    background: #E57373;
    border-radius: 30px;
    border: 3px solid #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.itemBox-Img-author-name {
    font-size: 2rem;
    line-height: 25px;
    font-weight: bold;
    color: #E0E0E0;
}

.itemBox-Img-organization {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 180px;
    cursor: pointer;
    left: 10px;
    background: #757575;
    border-radius: 30px;
    border-top: 3px solid #00838F;
    border-left: 3px solid #00838F;
    border-right: 3px solid #00838F;
    border-bottom: 3px solid #00838F;
}

.itemBox-Text-date {
    display: flex;
    justify-content: flex-end;
    width: 95%;
    height: 15px;
    position: absolute;
    top: 218px;
    padding-right: 20px;
    color: #9E9E9E;
}

.itemBox-Desc {
    padding: 40px 0px 15px 10px;
    min-height: 150px;
}

.itemBox-Text {
    padding: 20px 15px 0px 12px;
    min-height: 150px;
}

.itemBox-Text-title {
    font-size: 20px;
    font-size: 1.65rem;
    line-height: 20px;
    font-weight: bold;
    color: #424242;
}

.itemBox-Text-subTitle {
    margin-top: -8px;
    font-size: 15px;
    font-size: 1.25rem;
    line-height: 15px;
    color: #9E9E9E;
    word-break: break-word;
}

.itemBox-Text-text {
    font-size: 15px;
    font-size: 15px;
    font-size: 1.25rem;
    line-height: 19px;
    color: #424242;
    /*#373737;*/
    word-break: break-word;
}

.itemBox-tag {
    min-height: 40px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 0px;
    align-items: flex-start;
    align-content: flex-start;
}

.keyword li2 {
    float: left;
    margin-right: 5px;
    margin-top: 0px;
}

.keyword li2:last-child {
    margin-right: 0px;
}

.keyword .word {
    color: #00838F;
    border: solid 1px #00838F;
    border-radius: 16px;
    line-height: 1;
    padding: 6px 12px;
    display: block;
}

.keyword .word:hover {
    color: #ffffff;
    background-color: #EF5350;
    border: solid 1px #EF5350;
}


/*----- Item End ----------*/

.detail-root {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: #E8E8E8;
    z-index: 199;
}

.detail-root-body {
    background: #fff;
    top: 0px;
    left: 0%;
    right: 0%;
    bottom: 0px;
    padding-top: 40px;
    padding-bottom: 150px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: 0px solid #444;
}

.detail-root-body-geek {
    background: #fff;
    top: 100px;
    left: 0%;
    right: 0%;
    bottom: 0px;
    min-height: 2000px;
    padding-top: 50px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: 0px solid #444;
}

.detail-root-back-box {
    display: flex;
    justify-content: flex-start;
    padding-right: 10px;
}

.detail-root-back-button {
    position: fixed;
    top: 75px;
}

.draw-detail-root {
    position: fixed;
    z-index: 1301;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -webkit-flex-justify-content: center;
    justify-content: center;
    left: 0px;
    right: 0px;
}

.draw-detail-root-container {
    max-width: 768px;
}

.draw-detail-root-container-header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #212121;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 45px;
    max-width: 768px;
}

.draw-detail-root-container-header-thumb {
    max-height: 45px;
}

.draw-detail-root-container-box {
    background-color: #E8E8E8;
    width: 100%;
    padding-top: 44px;
}

.draw-detail-root-container-box-cover {
    width: 100%;
    height: auto;
    max-height: 375px;
}

.draw-detail-root-container-box-body {
    height: 600px;
    background: white;
    padding: 10px;
}

.draw-detail-root-container-box-body-2 {
    background: white;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    height: 600px;
}

.draw-detail-root-container-box-body-3 {
    height: 60px;
    background: #BDBDBD;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    height: 220px;
}

.draw-detail-root-container-footer {
    height: 48px;
    background: transparent;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}


/*----- Popup Start ----------*/

.popup {
    justify-content: center;
}

.popup-dialog {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
}

.popup-content {
    width: 100%;
    max-width: 300px;
    margin: 20px;
}

.popup-dialog-radio-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-end;
}

.popup-dialog-radio {
    margin-bottom: 10px;
    margin-right: 30px;
    max-width: 120px;
}

.popup-content-text {
    margin-top: 25px;
}

.popup-content-text-title {
    font-size: 15px;
    font-size: 1.25rem;
    line-height: 15px;
    font-weight: bold;
    color: #424242;
}


/*----- Popup End ----------*/


/*----- Recommend Start(#424242) ----------*/

.recommend {
    background: transparent;
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin-bottom: 15px;
}

@media screen and (max-width:480px) {
    .recommend {
        background: transparent;
        max-width: 320px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
    }
}


/*-------screen width > 1365px-----*/

@media screen and (min-width: 1365px) {
    .recommend {
        background: transparent;
        width: 320px;
        padding: 6px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
    }
}

.recommend-widget-c {
    width: 100%;
    max-width: 320px;
    height: auto;
    background: transparent;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 20px;
}

.recommend-widget {
    width: 100%;
    height: auto;
    background: #EF5350;
}

.recommend-1-img {
    width: 100%;
    height: auto;
    max-width: 320;
    border: 1px #999999;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16);
}

.recommend-widget-img-c {
    width: 320px;
    margin-bottom: -10px;
}

.recommend-widget-img {
    width: 320px;
    height: auto;
    max-width: 320;
}


/*----- Recommend End ----------*/

.footer {
    position: relative;
    padding: 12px 0px 12px;
    width: 100%;
    height: 50px;
    color: #999999;
    text-align: center;
    background-color: #373737;
    z-index: 2;
    overflow: hidden;
    border-top: 1px solid #999999;
    box-sizing: border-box;
    bottom: 0px;
}

.imgBox img {
    width: 100%;
    height: auto;
}

.box {
    float: left;
    margin-left: 50px;
    padding-top: 74px;
    line-height: 1;
}

.w-300 {
    position: relative;
    width: 300px;
}