html {
    font-size: 75%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

html.mac.f {
    font-size: 80%;
}

body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Lineto Circular", "Futura LT Light", "verdana", "Microsoft JhengHei", "微軟正黑體", "Heiti TC", "LiHei Pro", sans-serif;
    color: #000000;
    font-size: 15px;
    font-size: 1.25rem;
    line-height: 22px;
    background-color: #ffffff;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    /*list-style-type: none;*/
    margin-left: 15px;
}

li2 {
    list-style-type: none;
}

a, *:focus {
    outline: none;
    /*for Firefox */
}


/*#424242;*/

a, a:link {
    text-decoration: none;
    color: #455A64;
    -webkit-transition: all 0.3s 0s;
    -webkit-transition: all 0.3s 0s ease-out;
    transition: all 0.3s 0s ease-out;
}

a:hover {
    color: #EF5350;
    text-decoration: none;
    outline: none;
}

a:active {
    color: #EF5350;
    text-decoration: none;
    outline: none;
}


/*----- Head Start ----------*/

.channel {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    height: 72px;
    background: #00838F;
    padding-bottom: 8px;
}


/*----- Head :end ----------*/

.bodyMain {
    background: #EEEEEE
}


/*----- List Start ----------*/

.root-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    max-width: 1024px;
    min-height: 600px;
}

.root-list-default {
    width: 1024px;
    min-height: 1366px;
}

.root-list-filter {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.root-list-filter-button {
    position: fixed;
    top: 118px;
    background: #EF5350;
    background-color: #EF5350;
}

.root-list-filter-icon {
    color: #EEEEEE;
}

.root-list-filter-icon:hover {
    color: #EF5350;
}

.root-list-button {
    color: #00838F;
    border-radius: 5px;
    border: 1px solid #00838F;
    font-size: 15px;
}

.root-list-button hide {
    color: #757575;
}


/*----- List End----------*/


/*----- Item Start ----------*/

.itemC {
    min-width: 258px;
    max-width: 318px;
    min-height: 418px;
    overflow-y: auto;
    padding: 6px;
}

.itemBox {
    /*background: #E0E0E0*/
    box-shadow: 5px 5px 15px #EF5350;
    padding-bottom: 12px;
}

.itemBox:hover {
    /*color: #FF9800;
    background-color: #EF5350;*/
    border: 1px solid #EF5350;
    box-shadow: 5px 5px 15px #EF5350;
}

.itemBox-Img {
    position: relative;
}

.itemBox-Img-cover {
    width: 100%;
    height: 200px;
    cursor: pointer;
    flex: 1;
    justify-content: 'center';
    align-items: 'center';
}

.itemBox-Img-author {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 180px;
    cursor: pointer;
    left: 10px;
    background: #757575;
    border-radius: 30px;
    border: 3px solid #FAFAFA;
}

.itemBox-Img-organization {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 180px;
    cursor: pointer;
    left: 10px;
    background: #757575;
    border-radius: 30px;
    border-top: 3px solid #00838F;
    border-left: 3px solid #00838F;
    border-right: 3px solid #00838F;
    border-bottom: 3px solid #00838F;
}

.itemBox-Text {
    padding: 30px 15px 0px 12px;
    min-height: 150px;
}

.itemBox-Text-title {
    font-size: 20px;
    font-size: 1.65rem;
    line-height: 20px;
    font-weight: bold;
    color: #424242;
}

.itemBox-Text-subTitle {
    margin-top: -8px;
    font-size: 15px;
    font-size: 1.25rem;
    line-height: 15px;
    color: #9E9E9E;
    word-break: break-word;
}

.itemBox-Text-text {
    font-size: 15px;
    font-size: 15px;
    font-size: 1.25rem;
    line-height: 19px;
    color: #424242;
    /*#373737;*/
    word-break: break-word;
}

.itemBox-tag {
    min-height: 40px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 0px;
    align-items: flex-start;
    align-content: flex-start;
}

.keyword li2 {
    float: left;
    margin-right: 5px;
    margin-top: 0px;
}

.keyword li2:last-child {
    margin-right: 0px;
}

.keyword .word {
    color: #00838F;
    border: solid 1px #00838F;
    border-radius: 16px;
    line-height: 1;
    padding: 6px 12px;
    display: block;
}

.keyword .word:hover {
    color: #ffffff;
    background-color: #EF5350;
    border: solid 1px #EF5350;
}


/*----- Item End ----------*/


/*----- Popup Start ----------*/

.popup {
    justify-content: center;
}

.popup-dialog {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
}

.popup-content {
    width: 100%;
    max-width: 300px;
    margin: 20px;
}

.popup-dialog-radio-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-end;
}

.popup-dialog-radio {
    margin-bottom: 10px;
    margin-right: 30px;
    max-width: 120px;
}

.popup-content-text {
    margin-top: 0px;
    margin-top: 25px;
}

.popup-content-text-title {
    font-size: 15px;
    font-size: 1.25rem;
    line-height: 15px;
    font-weight: bold;
    color: #424242;
}


/*----- Popup End ----------*/


/*----- Recommend Start ----------*/

.recommend {
    background: #424242;
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin-bottom: 20px;
}

@media screen and (max-width:480px) {
    .recommend {
        background: transparent;
        max-width: 320px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
    }
}

@media screen and (min-width: 1380px) {
    .recommend {
        background: transparent;
        max-width: 320px;
        padding: 6px;
    }
}

.recommend-1-img {
    width: 100%;
    height: auto;
    max-width: 320;
    border: 1px #999999;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16);
}

.recommend-2-img {
    width: 100%;
    height: auto;
    max-width: 320;
    border: 1px #999999;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16);
}


/*----- Recommend End ----------*/


/*----- Admin Start ----------*/

.admin-list {
    min-width: 1004px;
    max-width: 1366px;
}

.admin-list-setting {
    overflow: hidden;
    margin: '20px auto 0';
    max-width: 660px,
}

.admin-list-col-wo {
    max-width: 180px;
    text-align: left;
}

.admin-list-col-zh {
    max-width: 300px;
    min-width: 250px;
    text-align: left;
}

.admin-list-col-st {
    max-width: 200px;
    min-width: 180px;
    text-align: left;
}

.admin-list-col-40 {
    max-width: 50px;
    text-align: left;
}

.admin-list-col-25 {
    max-width: 30px;
    text-align: center;
}


/*----- Admin End ----------*/

.footer {
    position: relative;
    padding: 12px 0px 12px;
    width: 100%;
    height: 50px;
    color: #999999;
    text-align: center;
    background-color: #373737;
    z-index: 2;
    overflow: hidden;
    border-top: 1px solid #999999;
    box-sizing: border-box;
}

.imgBox img {
    width: 100%;
    height: auto;
}

.box {
    float: left;
    margin-left: 50px;
    padding-top: 74px;
    line-height: 1;
}

.w-300 {
    position: relative;
    width: 300px;
}

.slds-modal {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: -webkit-transform 0.1s linear, opacity 0.1s linear;
    transition: transform 0.1s linear, opacity 0.1s linear;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9001;
}

.slds-modal__container {
    position: relative;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 0.1s linear, opacity 0.1s linear;
    transition: transform 0.1s linear, opacity 0.1s linear;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 2rem;
    height: 100%;
    padding: 3rem 0;
    border-radius: 0.25rem;
}

@media (min-width: 48em) {
    .slds-modal__container {
        margin: 0 auto;
        width: 50%;
        max-width: 40rem;
        min-width: 20rem;
    }
}

.slds-modal__header {
    position: relative;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-bottom: 2px solid #d8dde6;
    padding: 1.5rem 1rem;
    text-align: center;
    background: white;
}

.slds-modal__content {
    background: white;
    min-height: 200px;
}

.slds-modal__footer {
    border-top: 2px solid #d8dde6;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    padding: 0.75rem 1rem;
    background-color: #f4f6f9;
    text-align: right;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16);
}

.slds-modal-backdrop {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(126, 140, 153, 0.8);
    z-index: 9000;
}

.slds-modal-backdrop--open {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.4s linear;
    transition: opacity 0.4s linear;
}

.slds-fade-in-open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}

.slds-fade-in-open .slds-modal__container-reset {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.slds-size--1-of-1 {
    width: 96%;
}

.slds-size--1-of-2 {
    width: 48%;
}

.slds-size--1-of-3 {
    width: 32%;
}

.slds-size--1-of-4 {
    width: 24%;
}

.slds-size--2-of-4 {
    width: 40%;
}

fieldset {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

fieldset, hr {
    border: 0;
}

hr {
    padding: 0;
}

legend {
    border: 0;
    padding: 0;
}