html {
    font-size: 75%;
    width: 100%;
    height: 100%;
}

html.mac.f {
    font-size: 80%;
}

body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Verdana", "Roboto", "Helvetica", "Arial", sans-serif;
    color: #000000;
    font-size: 15px;
    font-size: 1.25rem;
    line-height: 22px;
    background-color: #ffffff;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    margin-left: 15px;
}

li2 {
    list-style-type: none;
}

a, *:focus {
    outline: none;
    /*for Firefox */
}

a, a:link {
    text-decoration: none;
    color: #455A64;
    -webkit-transition: all 0.3s 0s;
    -webkit-transition: all 0.3s 0s ease-out;
    transition: all 0.3s 0s ease-out;
}

a:hover {
    color: #EF5350;
    text-decoration: none;
    outline: none;
}

a:active {
    color: #EF5350;
    text-decoration: none;
    outline: none;
}

h1 {
    margin: 0.67em 0;
    font-size: 2rem;
    line-height: 25px;
}

p {
    min-height: 6px;
}


/*----- Float-button Start ----------*/

.float-button {
    width: 44px;
    height: 44px;
    cursor: pointer;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 2000;
}

.base-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px 8px 15px;
    min-width: 60px;
}

.colr-light {
    background: white;
    border: 1px solid #00838F;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16);
}

.colr-dark {
    background: #616161;
    border: 1px solid #616161;
}


/*----- Float-button End ----------*/


/*----- Position Start ----------*/

.loc-left-box {
    display: flex;
    justify-content: flex-start;
    padding-left: 5px;
}

.loc-right-box {
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
}

.z-3 {
    z-index: 1500;
}

.loc-top-1 {
    position: fixed;
    top: 3px;
}

.loc-top-1-1 {
    position: fixed;
    top: 15px;
}

.loc-top-1-2 {
    position: fixed;
    top: 50px;
}

.loc-top-2 {
    position: fixed;
    top: 70px;
}

.loc-top-3 {
    position: fixed;
    top: 125px;
}

.loc-top-4 {
    top: 180px;
}

.loc-btm-1 {
    position: fixed;
    bottom: 15px;
}

.loc-btm-2 {
    position: fixed;
    bottom: 70px;
}

.loc-btm-3 {
    position: fixed;
    bottom: 125px;
}

.loc-btm-4 {
    position: fixed;
    bottom: 180px;
}

.w-limit-60 {
    max-width: 60px;
}

.w-limit-768 {
    max-width: 768px;
}

.w-limit-xx8 {
    max-width: 748px;
}

.w-limit-808 {
    max-width: 808px;
}

.w-limit-808::-webkit-scrollbar {
    display: none;
}


/*----- Position End ----------*/